body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ind-game-image {
  width: 300px;
  margin-top: 30px;
}

.back-arrow-image {
  width: 25px;
  margin-top: 30px;
  cursor: pointer;
}

.back-arrow-image:hover {
  border: solid thin white;
}

.remove-game-image {
  width: 25px;
  margin-top: 30px;
  cursor: pointer;
}

.remove-game-image:hover {
  border: solid thin white;
}

.list-page-search-bar {
  margin-top: 15px;
}

.search-btn {
  margin-top: 10px;
}

.thumbnail-list-image {
  margin-top: 7px;
  cursor: pointer;
}

.thumbnail-list-text {
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 5px;
}

.thumbnail-column {
  margin-bottom: 30px;
}

.title {
  margin-top: 15px;
}

.magnifying-glass-icon {
  width: 35px;
}

.magnifying-glass-icon:hover {
  border: solid thin white;
}

.not-found {
  margin-top: 100px;
}

.bgg-link {
  text-align: center;
  display: block;
}

.search-results-title {
  margin-top: 15px;
}

.done-with-search {
  margin-top: 15px;
  margin-bottom: 15px;
}

.search-game-container {
  margin-bottom: 25px;
}

.search-result-game-col {
  margin-top: 25px;
}

.search-result-game-thumb {
  max-width: 150px;
  cursor: pointer;
}

.search-result-game-name {
  margin-top: 10px;
  margin-bottom: 5px;
  height: 50px;
  overflow: hidden;
}

.back-from-search {
  margin-top: 20px;
}

.loading-spinner {
  width: 400px;
}

.error-message-search {
  margin-top: 100px;
}

.added-to-shelf {
  color: green;
}

.toggle-class {
  display: none;
}

.expansion-tn-column {
  margin-top: 25px;
  margin-bottom: 25px;
}

.expansion-tn-text {
  margin-top: 10px;
  margin-bottom: 5px;
  height: 50px;
  overflow: hidden;
}

.exp-denoter {
  color: blue;
}

.etsy-tn-text {
  margin-top: 10px;
  margin-bottom: 5px;
  height: 50px;
  overflow: hidden;
  color: #0645ad;
  cursor: pointer;
}

.etsy-tn-column {
  margin-top: 25px;
  margin-bottom: 25px;
}
