body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ind-game-image {
  width: 300px;
  margin-top: 30px;
}

.back-arrow-image {
  width: 25px;
  margin-top: 30px;
  cursor: pointer;
}

.back-arrow-image:hover {
  border: solid thin white;
}

.remove-game-image {
  width: 25px;
  margin-top: 30px;
  cursor: pointer;
}

.remove-game-image:hover {
  border: solid thin white;
}

.list-page-search-bar {
  margin-top: 15px;
}

.search-btn {
  margin-top: 10px;
}

.game-list-link {
  display: block;
  text-align: center;
}

.thumbnail-list-image {
  margin-top: 7px;
  cursor: pointer;
}

.thumbnail-column {
  margin-bottom: 30px;
}

.title {
  margin-top: 15px;
}

.magnifying-glass-icon {
  width: 35px;
}

.magnifying-glass-icon:hover {
  border: solid thin white;
}

.not-found {
  margin-top: 100px;
}

.bgg-link {
  text-align: center;
  display: block;
}

.search-results-title {
  margin-top: 15px;
}

.done-with-search {
  margin-top: 15px;
  margin-bottom: 15px;
}

.search-result-game {
  margin-top: 25px;
}

.search-result-game-name {
  height: 25px;
  overflow: hidden;
}

.back-from-search {
  margin-top: 20px;
}
